nav ul {
	padding: 10px;
}

nav li {
	margin: 10px;
}

nav li.active a {
	padding: 10px;
}

nav a {
	padding: 10px;
}

#slogan {
	margin: 5px;
}

#einstein {
	margin-bottom: 35px;
}

main {
	border-bottom:  1px solid #dfdfdf;
	padding-bottom: 40px;
	padding-top: 15px;
}

h2 {
	margin-bottom: 10px;
	margin-top: 20px;
}

#topbar {
	margin-bottom: 5px;
}

header {
	padding-bottom: 5px;
}

h3 {
	margin-bottom: 5px;
}

section {
	margin-bottom: 5px;
}

.logo p {
	margin-top: 15px;
}

.recent img {
	border: 1px solid #dfdfdf;
	padding: 10px;
}

#bestelnu {
	margin: 15px;
}


#social {
	margin: 15px;
}

#social li{
	margin: 5px;
}

#ctaTwitter {
	padding-left: 100px;
	padding-top: 15px;
}

#ctaFacebook {
	padding-left: 100px;
	padding-top: 15px;
}

#ctaNetlog {
	padding-left: 100px;
	padding-top: 15px;
}

.button {
	margin-top: 15px;
	padding: 10px;
}

footer {
	margin-top: 20px;
	padding: 20px;
}

footer ul li {
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 10px;
	padding-top: 10px;
}

footer ul li:last-child {
	border-bottom: none;
	margin-right: 0px;
}

footer a {
	margin-bottom: 5px;
}