* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #fff;
	background-image: url(tile.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	background-image: url(bg.png);
	background-repeat: no-repeat; 
	background-size: cover;
	border: 10px solid white;
	box-shadow: 2px 2px 15px #C5B5AE;
	font-family: Arial, sans-serif;
	height: 600px;
	margin: 20px auto;
	max-width: 300px;
	padding: 40px 100px;
}

h1 {
	color: #414141;
	font-family: Caveat, sans-serif;
	font-size: 52px;
	font-weight: 500;
	margin-top: 30px;
}

main {
	color: #28219D;
	font-family: "Indie Flower", sans-serif;
	font-size: 24px;
	font-weight: 500;
	padding-top: 30px;
}

mark {
	background-color: transparent;
	color: #000;
	font-weight: 600;
	text-shadow: 2px 2px 5px #FFC0CB, 2px -2px 5px #FFC0CB, -2px 2px 5px #FFC0CB;
	text-transform: uppercase;
}

footer {
	color: #28219D;
	font-family: "Indie Flower", sans-serif;
	margin-top: 35px;
	text-align: right;
}

span {
	color: #9D1707;
	font-size: 32px;
}

p.salute {
	font-size: 22px;
	font-weight: 500;
}


